// layout/_grid.scss

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
  
  &-2 {
    grid-template-columns: repeat(2, 1fr);
    @include respond-to(md) {
      grid-template-columns: 1fr;
    }
  }

  &-3 {
    grid-template-columns: repeat(3, 1fr);
    @include respond-to(lg) {
      grid-template-columns: 1fr;
    }
  }
}
